<body>
  <h2 style="text-align: center;">List of Courses</h2>

  <div class="course-list">
    <div class="row">
      <div class="column" *ngFor="let course of filteredCourses" (click)="navigateTo(course)">
        <div class="course-inner">
          <div class="image">
            <img [src]="course.courseImageUrl" alt="Course Image">
          </div>
          <h3>{{ course.courseName }}</h3>
          <p>{{ course.courseDescription }}</p>
          <div class="rating">
            <div class="rating">
              <div class="rating">
                <span class="star" *ngFor="let star of getFilledStarsArray(course?.averageRating || 0)"></span>
                <span class="star" *ngFor="let star of getEmptyStarsArray(5 - (course?.averageRating ?? 0))"></span>
                <p>{{ course.averageRating}}</p>
              </div>
              
            </div>
            
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="popup-message" *ngIf="showPopup">
    {{ popupMessage }}
  </div>
</body>
