<header class="header">
  <app-navigation></app-navigation>
</header>

<main>
  <div class="intro">
    <h1>{{ courseTopic.course.courseName }}</h1>
    <p>Learn Something New Today</p>
  </div>

  <div class="about-me">
    <div class="about-me-text">
      <h2>{{ courseTopic.course.courseName }}</h2>
      <p>{{ courseTopic.course.courseDescription }}</p>
      <!-- Display other course-related details as needed -->
    </div>

    <div class="card" style="width: 50rem; height: 25rem;">
      <img [src]="courseTopic.course.courseImage" alt="...">
      <div class="card-body">
        <!-- <h5 class="card-title">{{ courseTopic.topic.topicName }}</h5> -->
        <!-- <p class="card-text">{{ courseTopic.topic.topicContent }}</p> -->
        <!-- Display other topic-related details as needed -->
        <a class="btn btn-primary" (click)="changeButtonText()" [innerText]="buttonText"></a>
      </div>
    </div>
  </div>
</main>

<footer id="footer" class="footer">
  <div class="bottom-links">
    <div class="links">
      <span>More Info</span>
      <a href="#">Home</a>
      <a href="#target-section">About</a>
      <a href="#">Contact</a>
      <p style="color: aliceblue;">+9325378</p>
      <p style="color: aliceblue;">Knanaya, Kottayam, Kerala</p>
    </div>
  </div>
</footer>
